/**About Wrapper Styles**/
.about-button-wrapper{
  text-align: center !important;
}
.about-button-wrapper a{
  transition: 0.25s all;
  text-align: center;
  line-height: 50px;
  color: white;
  padding: 18px;
}
.about-card > p {
  line-height: 30px;
  margin-bottom: 35px;
}
