.intro-wrapper{
  z-index: 1;
  padding-top: 200px;
  width: 100%;
  background: url(../img/bg.jpg)no-repeat;
  background-size: cover;
  background-position: center center;
}
.card-img-display{
  width: 350px;
  height: 400px;
  margin: auto;
}
.card-img-display > img{
    width: 100%;
    height: 100%;
}
.card-profile-display{
  height: 100%;
}
.card-profile-display h4{
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}
.card-profile-display hr{
  width: 100%;
  height: 0.01rem;
  background-color: white;
  margin-top: 15px;
}
.card-profile-display h6{
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}
.card-profile-info{
  position: relative;
  margin-top: -25px;
}
.card-profile-info ul{
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin-top: 18px;
}
.card-profile-info ul li p{
  line-height: 25px;
}
.card-profile-info ul + ul{
  padding-left: 50px;
}
.link-profile{
  color: black;
}
.profile-social-media-links{
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
}
.profile-social-media-links li{
  float: left;
}
.profile-social-media-links li:not(:first-child){
  margin-left: 15px;
}
.profile-social-media-links li a{
  transition: 0.25s all;
  height: 45px;
  width: 50px;
  line-height: 45px;
  display: block;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
}
.profile-social-media-links li a:hover i{
  color: white !important;
}
.social-facebook{
  border: 1px solid #677fb5;
}
.social-facebook:hover{
  background-color: #677fb5;
  color: white !important;
}
.social-facebook > i{
  color: #677fb5;
}
.social-twitter{
  border: 1px solid #70c2e9;
}
.social-twitter:hover{
  background-color: #70c2e9;
  color: white !important;
}
.social-twitter > i{
  color: #70c2e9;
}
.social-instagram{
  border: 1px solid #8a3ab9;
}
.social-instagram:hover{
  background-color: #8a3ab9;
  color: white !important;
}
.social-instagram > i{
  color: #8a3ab9;
}
.social-github{
  border: 1px solid #767676;
}
.social-github:hover{
  background-color: #767676;
  color: white !important;
}
.social-github > i{
  color: #767676;
}
.social-google-plus{
  border: 1px solid #d34836;
}
.social-google-plus:hover{
  background-color: #d34836;
  color: white !important;
}
.social-google-plus > i{
  color: #d34836;
}
.social-linkedin{
  border: 1px solid #007ab9;
}
.social-linkedin:hover{
  background-color: #007ab9;
  color: white !important;
}
.social-linkedin > i{
  color: #007ab9;
}
.social-skype{
  border: 1px solid #5ecbf3;
}
.social-skype:hover{
  background-color: #5ecbf3;
  color: white !important;
}
.social-skype > i{
  color: #5ecbf3;
}
.social-pinterest{
  border: 1px solid #d8545d;
}
.social-pinterest:hover{
  background-color: #d8545d;
  color: white !important;
}
.social-pinterest > i{
  color: #d8545d;
}
